*{
	box-sizing: border-box;
}

h1 {
	text-align: center;
	font-size: 80px;
	font-family: "Amatic", cursive;
	color: #d4b0b9;
}

nav {
	text-align: center;
	font-size: 25px;
	font-family: sans-serif;
	color: #d4b0b9;
}

nav a {
	color: inherit;
	text-decoration: none;
	/*I think I might just add this here instead:*/
	/*margin-left: 50px;*/
}
/*I would probably just include the margin-left above*/
nav a + a {
	margin-left: 50px;
}

.clearfix {
	background-color: #E9EFFF;
	width: 100%;
	height: 50px;
	padding-top: 15px;
}

.container {
	margin: 0 auto 0 auto;
	text-align: center;
}

.container div {
	display: inline-block;
}

/*I can see you commented this out, but I would definitely avoided using float, especially multiple times
in your CSS */

/*#vintageframephoto {
	width: 200px;
	height: 120px;
	float: left;
}*/

/*#valentineheadshot {
	width: 200px;
	height: 120px;
	float: center;
}*/

/*#escortchartpainting {
	width: 200px;
	height: 120px;
	float: right;
}*/

#biplanepainting {
	width: 40%;
	height: 407px;
	padding-left: 20px;
	float: right;
}

#valentineheadshot {
	width: 20%;
	height: 407px;
}

#vintageframephoto {
	width: 40%;
	height: 407px;
	padding-right: 20px;
}

.photo {
	overflow: hidden;
	float: left;
	width: 40% auto;
	height: 300px;
}

.photo:nth-of-type(2) {
	width: 20%;
}

.photo img {
	width: 100%;
}

.section_divider {
	background-color: #E9EFFF;
	width: 100%;
	height: 150px;
	clear: both;
}

h2 {
	font-size: 150px;
	color: #d4b0b9;
	font-family: "Amatic", cursive;
	float: right 20%;
}
